@charset "ISO-8859-1";

.main-container{
	display: flex;
	text-align: center;
	justify-content: space-around;
	margin-top: 12%;
}

.link-container{
	display: inline-block;
	text-align: center;	
}

a {
	font-size: 28px;
}